<!DOCTYPE html>
<html lang="ja">
    
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="homes.scss">
    <title>WebCampBackendNew</title>
  </head>
  
  <body>

<h1>Editing Book</h1>

  <% flash.each do |key, value| %>
    <p><%= value %></p>
  <% end %>

<%= form_with model: @book do |f| %>

  <h2>Title</h2>
  <%= f.text_field :title %>
  
  <h2>Body</h2>
  <%= f.text_area :body %>
  
  <br>
  <%= f.submit 'Update Book' %>
  
  <br>
  
  <%= link_to "Show", "/books/#{@book.id}" %> | <%= link_to "Back", books_path %>
  
  <br>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Delete", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  
<% end %>

  </body>
</html>